
# Created by https://www.toptal.com/developers/gitignore/api/macos,vscode,web
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,vscode,web

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### webpack ###
/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
.DS_Store
*.log
.idea
.cache
.eslintcache
package-lock.json